{% extends 'base.html' %}

{% block content %}
  <h2 class="card-title">AED Analysis</h2>
  <p class="card-text">This is the online AED analysis program hosted by Dr. Truong Tran, Assistant Professor of Computer Science, 
  Penn State Harrisburg, Penn State University.
</p>
<p>
To start click the "Upload" menu above.
</p>
  <p class="card-text">
  This online AED Analysis is a project in the study of Data Analytics for Protein Crystallization led by:<br>
  <strong>Dr. Marc Pusey</strong>(mlp0041@uah.edu), Principal Research Scientist Department of Chemistry, The University of Alabama in Huntsville<br>
  <strong>Dr. Ramazan Aygun</strong>(raygun@kennesaw.edu), Director of Research Computing, Kennesaw State University<br>
  <strong>Dr. Truong Tran</strong>(truong.tran@psu.edu), Assistant Professor of Computer Science, SSET, Penn State Harrisburg, Penn State University<br>
  </p>
  <p class="card-text">
 We highly recognize the contribution of:<br>
 <strong>Imren Dinç</strong>, MS of Computer Science, Graduated from The University of Alabama in Huntsville.<br>
 <strong>Rucha Daware</strong>, Graduate Student for the MS of Computer Science degree at Penn State Harrisburg, Penn State University.<br>
  </p>
{% endblock %}
